body{
    margin: 0;
    padding: 0;
}
.w3-container h1{
    text-align: center;
}
.w3-content{
    justify-content: center;
    text-align: justify;
}

.imgFile{
    width: 100%;
    min-height: 200px;
    filter: saturate(300%);
}

.w3-twothird h2{
    text-align: center;
    justify-content: center;
}